[submodule "blog-personal-diary"]
	path = blog-personal-diary
	url = git@github.com:s1ckret/blog-personal-diary.git
[submodule "blog-gym-diary"]
	path = blog-gym-diary
	url = git@github.com:s1ckret/blog-gym-diary.git
[submodule "blog-startup"]
	path = blog-startup
	url = git@github.com:s1ckret/blog-startup.git
[submodule "blog-book-review"]
	path = blog-book-review
	url = git@github.com:s1ckret/blog-book-review.git
[submodule "blog-cookbook"]
	path = blog-cookbook
	url = git@github.com:s1ckret/blog-cookbook.git
[submodule "blog-carbonara-review"]
	path = blog-carbonara-review
	url = git@github.com:s1ckret/blog-carbonara-review.git
